# Temporary Forensic Files
ela_temp_*

# Python environment & cache
venv/
__pycache__/
*.pyc

# User Uploads (Inhe push nahi karna chahiye)
app/static/uploads/*
!app/static/uploads/.gitkeep

# IDE files
.idea/
.vscode/